@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 285 44% 93%;
    --foreground: 291 20% 15%;
    --card: 285 44% 98%;
    --card-foreground: 291 20% 15%;
    --popover: 285 44% 98%;
    --popover-foreground: 291 20% 15%;
    --primary: 291 64% 42%;
    --primary-foreground: 300 100% 98%;
    --secondary: 285 20% 88%;
    --secondary-foreground: 291 20% 15%;
    --muted: 285 20% 88%;
    --muted-foreground: 291 10% 45%;
    --accent: 229 53% 48%;
    --accent-foreground: 229 100% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 285 20% 80%;
    --input: 285 20% 85%;
    --ring: 291 64% 42%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 291 20% 10%;
    --foreground: 285 44% 93%;
    --card: 291 20% 12%;
    --card-foreground: 285 44% 93%;
    --popover: 291 20% 10%;
    --popover-foreground: 285 44% 93%;
    --primary: 291 64% 52%;
    --primary-foreground: 291 20% 10%;
    --secondary: 291 20% 20%;
    --secondary-foreground: 285 44% 93%;
    --muted: 291 20% 20%;
    --muted-foreground: 285 10% 60%;
    --accent: 229 53% 58%;
    --accent-foreground: 291 20% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 291 20% 20%;
    --input: 291 20% 20%;
    --ring: 291 64% 52%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
